<!doctype html>
<html>

<head>
    <title>Didididie</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <style type="text/css">
        #login,
        #loggedin {
            display: none;
        }

        .text-overflow {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 500px;
        }

        #loading_gif {
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8) url('images/loading.gif') 50% 50% no-repeat;
        }

        tbody {
            text-align: center;
            background: #f1f1f1;
            border-bottom-style: solid;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15pt;
        }

        tr {
            background: #CCC;
            color: #000;
            height: 20px;
            text-align: center;
        }

        td {
            padding: 10px;
        }

        .emoji {
            background: #FFF;
        }

        .header {
            background: #000;
            height: 100px;
            color: #f1f1f1;
            text-align: center;
            align-self: initial
        }
    </style>
    <div class="container">
        <div class="jumbotron">
            <h1>Didididiê</h1>
            <p></p>
        </div>
    </div>
</head>

<body>